body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body, body>* {
    display:block;
    margin:0;
    padding:0;
}







script {display:none;}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
img { box-sizing: content-box; }

input[type="text"], input[type="number"] {
    border:2px solid rgb(205,205,205);
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
    margin-left: 7px;
}

.radio input[type=radio], input[type=radio] {margin-left:0;}
.questions_wrapper>p {font-weight:bold;}
.radio label {margin-right:10px;}

.questions_wrapper, .results_wrapper, #domg{
    display: block;
    max-width:800px;
    margin:0 auto;
   -webkit-user-select: none; /* disable selection/Copy of UIWebView */
   -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.results_wrapper{
  margin-top: 40px;
}

button[type="submit"]{
    padding:5px auto;
}

.question  {
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#survey_wrapper .question:nth-child(odd),
#results_wrapper .graph-outer-wrapper:nth-child(odd){
    background-color: rgb(224,242,247);
}


.question label {
    display: inline-block;
    margin-bottom: 10px;
}

.question>div, .graph-inner-wrapper {
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.question .input_wrapper, .graph-inner-wrapper {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    padding: 13px 13px 0 13px;
}

.rangeslider__fill {background-color:transparent;}


ol{padding:0;}
ol > li {
    list-style: none;
    padding: 10px 0 10px 0;
    position: relative;
}

ol li>.question_index{
  font-size: 2em;
  display: block;
  width: 40px;
  float: left;
  text-align: center;
}


.question.range label {
  font-size:0.9em;
  display: none;
  text-align: left;
  width:80%;
  height: 40px;
  margin: 0 40px 5px 40px;
}

.question.range input[type="range"],
.question.range .rangeslider {
    display: block;
    width: 100%;
    position: relative;
}

.question.range .right,
.question.range .left,
.graph-outer-wrapper .right, 
.graph-outer-wrapper .left {
  display: inline-block;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  position:relative;
  width: 50%;
  margin:10px 0 0px 0;
  padding: 10px;
  color: #3c3c3c;
  font-weight: bold;
}
.question.range .left,
.graph-outer-wrapper .left{
  text-align: left;
}

.question.range .right,
.graph-outer-wrapper .right{
  text-align: right;
  float: right;
}

.question.radio .answer_wrapper {
    display: inline-block;
}

/*   segmented gradient   */
.rangeslider.rangeslider--horizontal, .horiz-bar {
  background: repeat-y url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAUCAYAAABGUvnzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAW0lEQVRo3u3Ryw1AUBRF0cvcJ5GnGhVqzVy8gVpowhWRtQo4Z7CbZd2uSFCGGtnm7ow3lXFP/5j649G9Nvg1gQVGYARGYARGYAQWGIERGIERGIERWGAERmC+5ga6KQapn0kj5QAAAABJRU5ErkJggg==') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#demographics_wrapper {margin-top:40px;margin-bottom:40px;padding:20px;}
#demographics_wrapper .question.text {display:inline-block; float:left;width:50%;}
#demographics_wrapper .question.text label {display:block;}
#demographics_wrapper .question.text {display:inline-block; float:left;width:50%;}

@media all and (min-width: 600px) {
#demographics_wrapper .question.dropdown  {display:inline-block; float:left;width:50%;}
#demographics_wrapper .question.dropdown:nth-child(even){padding-left: 10px;}
#demographics_wrapper .question.dropdown>* {width:100%;} 
#demographics_wrapper:after {display:block;width:0px;height:0px;content:'';clear:both;float:none;}
}
@media all and (max-width: 600px) {
#demographics_wrapper .question.dropdown  {display:inline-block; float:left;width:100%;}
#demographics_wrapper .question.dropdown>* {width:100%;} 
#demographics_wrapper:after {display:block;width:0px;height:0px;content:'';clear:both;float:none;}
}

/*
=============================
        DOMG Styles
=============================
*/

.hidden {
  display: none !important;
}

#domg {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  -webkit-user-select: none;
  /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  /* disable the IOS popup when long-press on a link */
}

.horiz-bar-wrapper,
.graph-outer-wrapper {
  padding: 10px;
}

.horiz-bar-wrapper .right {
  float: right;
}

.horiz-bar-wrapper:nth-child(odd) {
  background-color: rgb(224, 242, 247);
}

.horiz-bar,
.bar-fill {
  position: relative;
  height: 20px;
  border: 1px solid #cfcfcf;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.horiz-bar {
  margin: 20px auto 20px auto;
  background-color: #fff;
  display: block;
  border-collapse: collapse;
}

.bar-fill-wrapper {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.horiz-bar,
.bar-fill-wrapper {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px
}

.bar-fill {
  display: inline-block;
  background-color: rgba(209, 242, 87, .40);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.bar-fill-wrapper.bar_1 {
  height: 100%;
}

.bar-fill-wrapper.bar_2 {
  height: 50%;
}

.bar-fill-wrapper.bar_3 {
  height: 33%;
}

.bar-fill-wrapper.bar_4 {
  height: 25%;
}

.bar-fill-wrapper.bar_2+.bar_2 .bar-fill {
  background-color: rgba(91, 217, 171, .40);
}

.bar-fill-wrapper.bar_4+.bar_4 .bar-fill {
  background-color: rgba(91, 197, 191, .40);
}

.bar-fill-wrapper.bar_4+.bar_4+.bar_4 .bar-fill {
  background-color: rgba(91, 227, 151, .40);
}

.bar-fill-wrapper.bar_4+.bar_4+.bar_4+.bar_4 .bar-fill {
  background-color: rgba(91, 255, 111, .40);
}

.graph-outer-wrapper .right,
.graph-outer-wrapper .left {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  width: 50%;
  margin: 50px 0 0px 0;
  padding: 10px;
  color: #3c3c3c;
  font-weight: bold;
}

.graph-outer-wrapper .left {
  text-align: left;
}

.graph-outer-wrapper .right {
  text-align: right;
  float: right;
}

.graph-outer-wrapper:nth-child(odd) {
  background-color: rgb(224, 242, 247);
}

.graph-inner-wrapper {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.graph-inner-wrapper {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 13px 13px 0 13px;
}

.graph-outer-wrapper {
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 60px;
}


.data-marker {
  color: #efefef;
  background-color: #3d88c8;
  text-align: center;
  margin-top: 0;
  position: absolute;
  display: inline-block;
  width: 80px;
  float: none;
  padding: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.data-marker:before {
  display: block;
  content: ' ';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: inset;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #3d88c8 transparent transparent transparent;
  float: left;
  position: absolute;
  bottom: -15px;
  left: 0px;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.data-marker.collides {
  background-color: #3d88c8;
}

.data-marker.collides:before {
  border-color: transparent transparent #3d88c8 transparent;
  border-width: 0 15px 15px 15px;
  top: -15px;
}

.data-marker.flip-center:before {
  left: 20px;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.data-marker.flip-right:before {
  left: 50px;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 0.5s ease-in-out;
}
