body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body, body>* {
    display:block;
    margin:0;
    padding:0;
}


html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
img { box-sizing: content-box; }




#questions_wrapper, #results_wrapper{
    display: block;
    max-width:800px;
    margin:0 auto;
   -webkit-user-select: none; /* disable selection/Copy of UIWebView */
   -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}


button[type="submit"]{
    padding:5px auto;
}


.question  {
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.question:nth-child(odd){
    background-color: rgb(224,242,247);
}

.question label {
    display: inline-block;
    margin-bottom: 10px;
}

.question>div {
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.question .input_wrapper {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    padding: 13px 13px 0 13px;
}

.rangeslider__fill {background-color:transparent;}
.rangeslider.rangeslider--horizontal {
    background: rgb(137,72,137);
    background: -moz-linear-gradient(left, rgb(137,72,137) 0%, rgb(52,165,207) 100%);
    background: -webkit-linear-gradient(left, rgb(137,72,137) 0%,rgb(52,165,207) 100%);
    background: linear-gradient(to right, rgb(137,72,137) 0%,rgb(52,165,207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#894889', endColorstr='#34a5cf', GradientType=1 );
}


ol{padding:0;}
ol > li {
    list-style: none;
    padding: 10px 0 10px 0;
    position: relative;
}

ol li>.question_index{
    font-size: 2em;
    display: block;
    width: 40px;
    float: left;
    text-align: center;
}


.question.range label {
    font-size:0.9em;
  display: none;
  text-align: left;
  width:80%;
  height: 40px;
  margin: 0 40px 5px 40px;
}

.question.range input[type="range"],
.question.range .rangeslider {
    display: block;
    width: 100%;
    position: relative;
}

.question.range .right,
.question.range .left {
  display: inline-block;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  position:relative;
  width: 50%;
  margin:10px 0 0px 0;
  padding: 10px;
  color: #3c3c3c;
  font-weight: bold;
}
.question.range .left {
    text-align: left;
    }

.question.range .right {
    text-align: right;
    float: right;
    }








/*
========================
        STYLE #0
========================
*/

.q0.question .input_wrapper {
    padding: 0 13px 0 13px;
}
.q0.question.range input[type="range"],
.q0.question.range .rangeslider {
    display: block;
    width: 100%;
    position: relative;
    height: 25px;
       top: 5px;
}

.q0 .rangeslider__fill {background-color:rgb(137,72,137);}
.q0 .rangeslider.rangeslider--horizontal {
    background: rgb(52,165,207)
}

.q0.question.range .right,
.q0.question.range .left {
  display: block;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  position:relative;
  width: 50%;
  margin: 20px 0 10px 0;
      padding: 10px;
      font-weight: bold;
      font-size:0.8em;
}
.q0.question.range .left {

    color:#efefef;
    background-color: rgb(137,72,137);
    text-align: left;
    margin-top:0;
        position: relative;
    display: block;
    float: none;
    }

.q0.question.range .left:after{
    display:block;
    content:' ';
    width: 0;
height: 0;
-webkit-transform:rotate(360deg);
border-style: inset;
border-style: solid;
border-width: 15px 15px 0 15px;
border-color: rgb(137,72,137) transparent transparent transparent;
float:left;
position: absolute;
    bottom: -15px;
    left: 6px;
}

.q0.question.range .right {
    color:#efefef;
    background-color: rgb(52,165,207);
    text-align: right;
    float: right;
    }

.q0.question.range .right:before{
    display: block;
    content: ' ';
    width: 0;
    height: 0;
    -webkit-transform:rotate(360deg);
    border-style: inset;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent rgb(52,165,207) transparent;
    float: right;
    position: absolute;
    top:-15px;
    right: 6px;
}




/*
========================
        STYLE #1
========================
*/

.q1.question .input_wrapper {
    padding: 0 13px 0 13px;
}

.q1.question.range input[type="range"],
.q1.question.range .rangeslider {
    display: block;
    width: 100%;
    position: relative;
    height: 25px;
       top: 5px;
}

.q1.question.range .right,
.q1.question.range .left {
  display: block;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  position:relative;
  width: 50%;
  margin: 20px 0 10px 0;
      padding: 10px;
      font-weight: bold;
      font-size:0.8em;
}

.q1.question.range .left {

    color:#efefef;
    background-color: rgb(137,72,137);
    text-align: left;
    margin-top:0;
        position: relative;
    display: block;
    float: none;
}

.q1.question.range .left:after{
    display:block;
    content:' ';
    width: 0;
    height: 0;
    -webkit-transform:rotate(360deg);
    border-style: inset;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: rgb(137,72,137) transparent transparent transparent;
    float:left;
    position: absolute;
    bottom: -15px;
    left: 6px;
}

.q1.question.range .right {
    color:#efefef;
    background-color: rgb(52,165,207);
    text-align: right;
    float: right;
}

.q1.question.range .right:before{
    display: block;
    content: ' ';
    width: 0;
    height: 0;
    -webkit-transform:rotate(360deg);
    border-style: inset;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent rgb(52,165,207) transparent;
    float: right;
    position: absolute;
    top:-15px;
    right: 6px;
}


/*
========================
        STYLE #2
========================
 */


.q2.question:after {
    display:block;
    height:1px;
    width: 1px;
    clear: both;
    content:' ';
}



.q2.question.range input[type="range"],
.q2.question.range .rangeslider {
    height: 5px;
}


.q2 .rangeslider--horizontal .rangeslider__handle {top:-8px;}

.q2 .rangeslider__handle {
    background-color:#000;
    border:1px solid #000;
    height:20px;
    width:20px;
}



/*
========================
        STYLE #3
========================
 */


.q3.question:after {
    display:block;
    height:1px;
    width: 1px;
    clear: both;
    content:' ';
}



.q3 .rangeslider--horizontal .rangeslider__handle {top:-8px;}

.q3 .rangeslider__handle {
    background-color:#000;
    border:1px solid #000;
}



/*
========================
        STYLE #4
========================
*/

.q4 .rangeslider.rangeslider--horizontal {
    background: no-repeat -52px url('https://young-sea-59324.herokuapp.com/static/multilingual_survey/images/slider_gradient.png');
    background-size: 120% auto;
}

/*
========================
        STYLE #5
========================
*/

.q5 .rangeslider.rangeslider--horizontal {
    background: rgb(91,217,171);
background: -moz-linear-gradient(left, rgb(91,217,171) 0%, rgb(209,242,87) 100%);
background: -webkit-linear-gradient(left, rgb(91,217,171) 0%,rgb(209,242,87) 100%);
background: linear-gradient(to right, rgb(91,217,171) 0%,rgb(209,242,87) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5BD9AB', endColorstr='#D1F257',GradientType=1 );
}

/*
========================
        STYLE #6
========================
*/

.q6 .rangeslider.rangeslider--horizontal {
    background: rgb(58,43,224);
background: -moz-linear-gradient(left, rgb(58,43,224) 0%, rgb(219,23,80) 100%);
background: -webkit-linear-gradient(left, rgb(58,43,224) 0%, rgb(219,23,80) 100%);
background: linear-gradient(to right, rgb(58,43,224) 0%,rgb(219,23,80) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A2BE0', endColorstr='#DB1750',GradientType=1 );
}








/*
=============================
        DOMG Styles
=============================
*/
.horiz-bar-wrapper {padding:10px;}
.horiz-bar-wrapper .right {float: right;}

.horiz-bar-wrapper:nth-child(odd){
    background-color: rgb(224,242,247);
}

.horiz-bar,
.bar-fill {
  position: relative;
  height: 60px;
  border: 1px solid #cfcfcf;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.horiz-bar {
  width: 450px;
  margin: 20px auto 20px auto;
  background-color: #fff;
  display: table;
  border-collapse: collapse;
}


.bar-fill-wrapper {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.bar-fill {
  display: table-cell;
  background-color: rgba(209, 242, 87, .40);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.bar-fill-wrapper.bar_1 {
  height: 100%;
}

.bar-fill-wrapper.bar_2 {
  height: 50%;
}

.bar-fill-wrapper.bar_3 {
  height: 33%;
}

.bar-fill-wrapper.bar_4 {
  height: 25%;
}

.bar-fill-wrapper.bar_2+.bar_2 .bar-fill {
  background-color: rgba(91, 217, 171, .40);
}

.bar-fill-wrapper.bar_4+.bar_4 .bar-fill {
  background-color: rgba(91, 197, 191, .40);
}

.bar-fill-wrapper.bar_4+.bar_4+.bar_4 .bar-fill {
  background-color: rgba(91, 227, 151, .40);
}

.bar-fill-wrapper.bar_4+.bar_4+.bar_4+.bar_4 .bar-fill {
  background-color: rgba(91, 255, 111, .40);
}
